In [22]:
import pandas as pd
import gmaps
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html
from config import gkey

import warnings
warnings.filterwarnings('ignore')

# Configure Gmaps
gmaps.configure(api_key = gkey)

# Create Region Polygons
Read region data, create polygon overlay to visualize region boundaries

In [23]:
# Read region file into DataFrame
file = "Resources/Chicago_Traffic_Tracker_-_Congestion_Estimates_by_Regions.csv"
zones_df = pd.read_csv(file)

# Display region dataframe
zones_df

,REGION,REGION_ID,WEST,EAST,SOUTH,NORTH,DESCRIPTION,CURRENT_SPEED,LAST_UPDATED
0,Beverly-Mt Greenwood-Morgan Park,25,-87.747456,-87.662508,41.677477,41.728472,119th to 91st. Cicero to Ashland,29.18,2019-03-21 17:31:47.0
1,Hyde Park-Kenwood-Woodlawn,21,-87.606334,-87.566260,41.764066,41.822792,71st to Pershing. Cottage Grove to Lake Shore,21.14,2019-03-21 17:31:46.0
2,Austin,9,-87.775947,-87.747456,41.866129,41.909269,Roosevelt to North Ave. Austin to Cicero,25.23,2019-03-21 17:31:46.0
3,South West Side,18,-87.747456,-87.683730,41.764066,41.822792,71st to Pershing. Cicero to Western,23.18,2019-03-21 17:31:46.0
4,Lincoln Park-Lake View,8,-87.674590,-87.619112,41.910561,41.960669,North Ave to Montrose. Ravenswood to Lake Shore,19.09,2019-03-21 17:31:46.0
5,Far North West,2,-87.846210,-87.747456,41.960669,42.019100,North of Montrose. East River to Cicero,27.27,2019-03-21 17:31:46.0
6,Auburn Gresham-Chatham,23,-87.672980,-87.606334,41.728472,41.764066,91st to 71st. Damen to Cottage Grove,22.50,2019-03-21 17:31:47.0
7,Chicago Loop,13,-87.647208,-87.623080,41.866129,41.888860,Roosevelt to Wacker: Halsted to Michigan,12.27,2019-03-21 17:31:46.0
8,South Deering-East Side,27,-87.584845,-87.524436,41.677477,41.728472,119th to 91st. Stony Island to State Line,32.73,2019-03-21 17:31:47.0
9,Humboldt-Garfield Prk E/W,10,-87.747456,-87.691617,41.866129,41.909269,Roosevelt to North Ave. Cicero to Rockwell,21.82,2019-03-21 17:31:46.0
10,Fuller-Grand Blvd-Washington Park,20,-87.636322,-87.606334,41.764066,41.822792,71st to Pershing. Steward to Cottage Grove,24.55,2019-03-21 17:31:46.0
11,Edge Water-Uptown,4,-87.674590,-87.646438,41.960669,41.997946,Montrose to Devon. Ravenswood to Lake Shore,17.73,2019-03-21 17:31:46.0
12,North Park-Albany-Linconl Sq,3,-87.747456,-87.674590,41.960669,41.997946,Montrose to Devon. Cicero to Ravenswood,21.14,2019-03-21 17:31:46.0
13,Near North,12,-87.647208,-87.623080,41.888860,41.911401,Wacker to North. Halsted to Michigan,14.32,2019-03-21 17:31:46.0
14,Lawndale N/S,14,-87.747456,-87.685372,41.822792,41.866129,Pershing to Roosevel. Cicero to Western,23.18,2019-03-21 17:31:46.0
15,Riverdale-Hegewisch,28,-87.662508,-87.524436,41.644139,41.677477,138th to 119th. Ashland to State Line,27.95,2019-03-21 17:31:47.0
16,Hermosa-Logan Square,7,-87.747456,-87.674590,41.909269,41.931841,North Ave to Diversy. Cicero to Ravenswood,20.45,2019-03-21 17:31:46.0
17,Irving Park-Avondale-North Ctr,6,-87.747456,-87.674590,41.931841,41.960669,Diversey to Montrose. Cicero to Ravenswood,19.77,2019-03-21 17:31:46.0
18,New City-Englewood-W Englewood,19,-87.683730,-87.636322,41.764066,41.822792,71st to Pershing. Western to Steward,25.23,2019-03-21 17:31:46.0
19,South Shore-S Chicago-Avlon,24,-87.606334,-87.526388,41.728472,41.764066,91st to 71st. Cottage Grove to Lake Shore,23.18,2019-03-21 17:31:47.0
20,Dunning-Portage-Belmont Cragn,5,-87.846210,-87.747456,41.909269,41.960669,North Ave to Montrose. East River to Cicero,23.18,2019-03-21 17:31:46.0
21,Bridgeport-McKinley-Lower West,15,-87.685372,-87.636322,41.822792,41.866129,Pershing to Roosevel. Western to Stewart,21.82,2019-03-21 17:31:46.0
22,West Town-Near West,11,-87.691617,-87.647208,41.866129,41.910561,Roosevelt to North. Rockwell to Halsted,18.41,2019-03-21 17:31:46.0
23,Rogers Park - West Ridge,1,-87.709645,-87.654561,41.997946,42.026444,North of Devon. Kedzie to Lake Shore,21.14,2019-03-21 17:31:46.0
24,Near South-Douglas,16,-87.636322,-87.597952,41.822792,41.866129,Pershing to Roosevelt. Stewart to Lake Shore,23.86,2019-03-21 17:31:46.0
25,Ashburn,22,-87.747456,-87.672980,41.728472,41.764066,91st to 71st. Cicero to Damen,27.95,2019-03-21 17:31:46.0
26,Washington Hts-Roseland-Pullman,26,-87.662508,-87.584845,41.677477,41.728472,119th to 91st. Ashland to Stony Island,27.27,2019-03-21 17:31:47.0
27,Downtown Lakefront,29,-87.623080,-87.595378,41.866129,41.911401,Roosevelt to Oak. Michigan to Lake Shore,19.09,2019-03-21 17:31:47.0
28,Midway-Garfield Rdg-Clearing,17,-87.802188,-87.747456,41.764066,41.822792,71st to Pershing. Halem to Cicero,28.64,2019-03-21 17:31:46.0

In [24]:
# Sort DataFrame by Region ID
zones_df.sort_values(' REGION_ID',inplace=True)

# Set index to Region ID
zones_df.set_index(' REGION_ID',inplace=True)

# Display boundary latitudes and longitudes for each Region ID
zones_df[[" WEST", " EAST", " SOUTH", " NORTH"]]

                 WEST       EAST      SOUTH      NORTH
 REGION_ID
1          -87.709645 -87.654561  41.997946  42.026444
2          -87.846210 -87.747456  41.960669  42.019100
3          -87.747456 -87.674590  41.960669  41.997946
4          -87.674590 -87.646438  41.960669  41.997946
5          -87.846210 -87.747456  41.909269  41.960669
6          -87.747456 -87.674590  41.931841  41.960669
7          -87.747456 -87.674590  41.909269  41.931841
8          -87.674590 -87.619112  41.910561  41.960669
9          -87.775947 -87.747456  41.866129  41.909269
10         -87.747456 -87.691617  41.866129  41.909269
11         -87.691617 -87.647208  41.866129  41.910561
12         -87.647208 -87.623080  41.888860  41.911401
13         -87.647208 -87.623080  41.866129  41.888860
14         -87.747456 -87.685372  41.822792  41.866129
15         -87.685372 -87.636322  41.822792  41.866129
16         -87.636322 -87.597952  41.822792  41.866129
17         -87.802188 -87.747456  41.764066  41.822792
18         -87.747456 -87.683730  41.764066  41.822792
19         -87.683730 -87.636322  41.764066  41.822792
20         -87.636322 -87.606334  41.764066  41.822792
21         -87.606334 -87.566260  41.764066  41.822792
22         -87.747456 -87.672980  41.728472  41.764066
23         -87.672980 -87.606334  41.728472  41.764066
24         -87.606334 -87.526388  41.728472  41.764066
25         -87.747456 -87.662508  41.677477  41.728472
26         -87.662508 -87.584845  41.677477  41.728472
27         -87.584845 -87.524436  41.677477  41.728472
28         -87.662508 -87.524436  41.644139  41.677477
29         -87.623080 -87.595378  41.866129  41.911401

In [25]:
#Create a list of corner coordinates for our figure
SW = []
NW = []
SE = []
NE = []

# Iterate through DataFrame, appending boundaries into corner coordinate lists
for index, row in zones_df.iterrows():
    temp = []
    temp.append(row[" NORTH"])
    temp.append(row[" EAST"])
    NE.append(temp)

for index,row in zones_df.iterrows():
    temp = []
    temp.append(row[" NORTH"])
    temp.append(row[" WEST"])
    NW.append(temp)
    
for index,row in zones_df.iterrows():
    temp = []
    temp.append(row[" SOUTH"])
    temp.append(row[" EAST"])
    SE.append(temp)
    
for index,row in zones_df.iterrows():
    temp = []
    temp.append(row[" SOUTH"])
    temp.append(row[" WEST"])
    SW.append(temp)    

# Print sample to confirm results
print(SW[0])

[41.997946, -87.709645]

In [26]:
#Make coordinates into a distinct zone list
coords = []

for x in range(29):
    temp = []
    temp.append(NE[x])
    temp.append(SE[x])
    temp.append(SW[x])
    temp.append(NW[x])
    coords.append(temp)

# Print sample to confirm results
print(coords[0])

[[42.026444, -87.654561], [41.997946, -87.654561], [41.997946, -87.709645], [42.026444, -87.709645]]

In [27]:
# Create the map
fig = gmaps.figure(center=(41.835966, -87.825), zoom_level=11)

# Iterate through DataFrame, adding a polygon for each Region
for x in range(29):
    region_layer = gmaps.drawing_layer(features = [
        gmaps.Polygon(
            coords[x],
            stroke_color='blue', stroke_weight=1, fill_color='blue', fill_opacity=.2
        )
    ])
    fig.add_layer(region_layer)

# Display resulting map with Region polygons
fig

Figure(layout=FigureLayout(height='420px'))

# Camera Markers by Region
Read red light camera and speed camera location data, overlay markers onto region polygons

In [28]:
# Read red light camera file into DataFrame
rl_cams = pd.read_csv("Resources/Red_Light_Camera_Locations.csv", low_memory=False)

# Filter DataFrame to latitude and longitude
rl_location = rl_cams.loc[:,"LATITUDE":"LONGITUDE"]

# Clean DataFrame by removing any NaN values
rl_location["LATITUDE"].dropna(how='any', inplace=True)
rl_location["LONGITUDE"].dropna(how='any', inplace=True)

# Rename latitude and longitude columns
rl_location.rename(columns={"LATITUDE": "Lat", "LONGITUDE":"Lng"}, inplace=True)

# Create list of red light camera intersection names to use as labels
rl_intersection = rl_cams.loc[:,"INTERSECTION"]

In [29]:
# Read speed camera file into DataFrame
speed_cams = pd.read_csv("Resources/Speed_Camera_locations.csv", low_memory=False)

# Filter DataFrame to latitude and longitude
speed_location = speed_cams.loc[:,"LATITUDE":"LONGITUDE"]

# Clean DataFrame by removing any NaN values
speed_location["LATITUDE"].dropna(how='any', inplace=True)
speed_location["LONGITUDE"].dropna(how='any', inplace=True)

# Rename latitude and longitude columns
speed_location.rename(columns={"LATITUDE": "Lat", "LONGITUDE":"Lng"}, inplace=True)

# Create list of speed camera addresses to use as labels
speed_address = speed_cams.loc[:,"ADDRESS"]

In [30]:
# Create red light symbol layer
rl_intersection_layer = gmaps.symbol_layer(
    rl_location, fill_color='rgba(225, 0, 0, 0.4)',
    stroke_color='rgba(225, 0, 0, 0.4)', scale=2,
    info_box_content=[f"Location: {intersection}" for intersection in rl_intersection]
)

# Create speed camera symbol layer
speed_address_layer = gmaps.symbol_layer(
    speed_location, fill_color='rgba(0, 0, 225, 0.4)',
    stroke_color='rgba(0, 0, 225, 0.4)', scale=2,
    info_box_content=[f"Location: {address}" for address in speed_address]
)

# Create the map
fig = gmaps.figure(center=(41.835966, -87.825), zoom_level=11)

# Add the red light and speed camera layers
fig.add_layer(rl_intersection_layer)
fig.add_layer(speed_address_layer)

# Iterate through the DataFrame, display polygons for each Region
for x in range(29):
    region_layer = gmaps.drawing_layer(features = [
        gmaps.Polygon(
            coords[x],
            stroke_color='blue', stroke_weight=1, fill_color='blue', fill_opacity=.05
        )
    ])
    fig.add_layer(region_layer)

# Show final map
fig

Figure(layout=FigureLayout(height='420px'))

# Choropleth Map of BAC Crashes
Read BAC crash data summarized by region, create choropleth map

In [31]:
# Read region BAC file into DataFrame
region_bac_df = pd.read_csv('Resources/region_bac_count.csv')

# Set index as Region ID
region_bac_df.set_index('Region_ID',inplace=True)

# Display BAC DataFrame head
region_bac_df.head()

           BAC_RESULT VALUE
Region_ID
1                        10
2                        11
3                        21
4                         7
5                        33

In [32]:
# Scale BAC totals from 0-1
region_bac_df['BAC_scaled'] = region_bac_df['BAC_RESULT VALUE'] / region_bac_df['BAC_RESULT VALUE'].max()

# Display resulting DataFrame head
region_bac_df.head()

           BAC_RESULT VALUE  BAC_scaled
Region_ID
1                        10    0.243902
2                        11    0.268293
3                        21    0.512195
4                         7    0.170732
5                        33    0.804878

In [33]:
# Create rgb columns in DataFrame
region_bac_df['r'] = ""
region_bac_df['g'] = ""
region_bac_df['b'] = ""

# Display DataFrame head
region_bac_df.head()

           BAC_RESULT VALUE  BAC_scaled r g b
Region_ID
1                        10    0.243902
2                        11    0.268293
3                        21    0.512195
4                         7    0.170732
5                        33    0.804878

In [34]:
# Iterate through DataFrame, assigning rgb values each region (from white to red, based on Scaled BAC)
for index, row in region_bac_df.iterrows():
    region_bac_df['r'][index] = 255
    region_bac_df['g'][index] = int(round(255 * (1-region_bac_df['BAC_scaled'][index])))
    region_bac_df['b'][index] = int(round(255 * (1-region_bac_df['BAC_scaled'][index])))

# Display DataFrame head
region_bac_df.head()

           BAC_RESULT VALUE  BAC_scaled    r    g    b
Region_ID
1                        10    0.243902  255  193  193
2                        11    0.268293  255  187  187
3                        21    0.512195  255  124  124
4                         7    0.170732  255  211  211
5                        33    0.804878  255   50   50

In [35]:
# Create lists to store rgb values
r = region_bac_df['r']
g = region_bac_df['g']
b = region_bac_df['b']

In [36]:
# Create the map
fig = gmaps.figure(center=(41.835966, -87.825), zoom_level=11)

# Iterate through DataFrame, adding a polygon layer for each Region, color-coded to indicate frequency of BAC crashes
for x in range(29):
    region_layer = gmaps.drawing_layer(features = [
        gmaps.Polygon(
            coords[x],
            stroke_color='white', stroke_weight=2, stroke_opacity=.6, fill_color=(r2[x+1],g2[x+1],b2[x+1]), fill_opacity=.7
        )
    ])
    fig.add_layer(region_layer)

# Display map
fig

Figure(layout=FigureLayout(height='420px'))